<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row" >
              <div class="text-center">
               <h2>Patrocinadores</h2>
              </div>
                 <div class="col-md-4 col-sm-6">
                    <a href="https://www.unicef.org/bolivia/" target="_blank">
                        <img src="img/logos/unicef.jpg" class="img-responsive img-centered" alt="UNICEF Bolivia" width="227" height="94" loading="lazy">
                    </a>
                 </div>
                
			     <div class="col-md-4 col-sm-6">
                    <a href="https://www.bancomundial.org/es/country/bolivia" target="_blank">
                        <img src="img/logos/bmundial.jpg" class="img-responsive img-centered" alt="Banco Mundial Bolivia" width="259" height="79" loading="lazy">
                    </a>
				 </div> 		 
			    
				 <div class="col-md-4 col-sm-6">
                    <a href="https://www.ine.gob.bo/" target="_blank">
                        <img src="img/logos/ine.jpg" class="img-responsive img-centered" alt="INE Bolivia" width="100" height="162" loading="lazy">
                    </a>
			     </div>
		    </div>
			
	 		<div class="row" >
				 
				 
				 <div class="col-md-4 col-sm-6">
                    <a href="https://www.ucb.edu.bo/" target="_blank">
                        <img src="img/logos/catolica.png" class="img-responsive img-centered" alt="Universidad Católica Boliviana" width="219" height="80" loading="lazy">
                    </a>
                 </div>
				 
				 <div class="col-md-4 col-sm-6">
                    <a href="https://estadistica.umsa.bo/" target="_blank">
                        <img src="img/logos/estadistica.jpg" class="img-responsive img-centered" alt="Carrera de Estadística UMSA" width="227" height="100" loading="lazy">
                    </a>
				 </div> 
				 
				 <div class="col-md-4 col-sm-6">
                    <a href="https://www.facebook.com/estadistica.centrodeestudiantes" target="_blank">
                        <img src="img/logos/centroE.jpg" class="img-responsive img-centered" alt="Centro de Estudiantes de Estadística" width="200" height="70" loading="lazy">
                    </a>
                 </div>
		    </div> 	
			
			<div class="row" >
				 
				 
				 <div class="col-md-4 col-sm-6">
                    <a href="https://www.facebook.com/CefacFcpnSteam" target="_blank">
                        <img src="img/logos/cefac.jpg" class="img-responsive img-centered" alt="CEFAC" width="219" height="80" loading="lazy">
                    </a>
                 </div>
				 
				 <div class="col-md-4 col-sm-6">
                    <a href="https://www.facebook.com/RLadiesLaPaz" target="_blank">
                        <img src="img/logos/rladies.png" class="img-responsive img-centered" alt="R-Ladies La Paz" width="219" height="80" loading="lazy">
                    </a>
                 </div>
				 
				 
		    </div> 	
	<!--   
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.aru.org.bo/" target="_blank">
                        <img src="img/logos/aru.jpg" class="img-responsive img-centered" alt="" width="227" height="94">
                    </a>
                 </div>
	 -->
			   
                                   
        </div>

         <div style="margin-top: 1.5rem;"></div>

<div class="container">
            <div class="row" >
        <div class="text-center">
        <h2>Proyecto Internacional de Alfabetización Estadística</h2>
          </div>

<div class="carousel" style="float:left; display:inline-block; ">
        <span style="float:left;width: 20%;">
            <img src="img/islp.jpg"  class="img-responsive img-centered" alt="Logo ISLP" width="250" height="150" loading="lazy" />
        </span>
        <span style="float:right;width: 80%;">
           <p style="float:right; display:block;">
            El Proyecto Internacional de Alfabetización Estadística (<a href="https://iase-web.org/islp/">ISLP</a>) está bajo el paraguas de la Asociación Internacional para la Educación Estadística (<a href="https://iase-web.org/">IASE</a>), la sección de educación del Instituto Internacional de Estadísticas (<a href="https://isi-web.org/">ISI</a>). Es administrado por el Ejecutivo del ISLP y supervisado por el Comité Asesor del ISLP. El Comité Asesor está presidido por el Presidente de IASE y tiene representantes de IASE, IAOS e ISI. Aprenda sobre la historia del ISLP y el Proyecto de aritmética mundial, vea a todas las <a href="https://iase-web.org/islp/People.php">personas que administran este proyecto</a>, nuestra <a href="https://iase-web.org/islp/About.php?p=History_1994_to_2002">historia</a> y nuestra <a href="https://iase-web.org/islp/About.php?p=Mission">misión</a>.
           </p>

           <p style="float:right; display:block;">
            El concurso de posters estadísticos es una iniciativa del Proyecto Internacional de la Alfabetización Estadística (ISLP) la primera Competencia Internacional de posters estadísticos se lanzó el 2007.  Se estableció contacto con muchas personas para iniciar la moción y para ayudar a alentar a los maestros a inscribir a sus alumnos. A la fecha, alrededor de 120 Países se encuentran representados dentro del ISLP por sus coordinadores nacionales todo esto con el objetivo de mejorar la exposición de las necesidades de Alfabetización Estadística y desarrollar las habilidades de los estudiantes en esta área. A finales de 2017 <a href="https://www.linkedin.com/in/alvaro-chirino-9828a260">Alvaro Chirino</a> fue incorporado como el coordinador nacional en Bolivia, logrando que Bolivia sea el noveno país sudamericano en ser parte del ISLP.
           </p>
         </span>
 </div>
 

            </div>                        
        </div>


    </aside>