<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Información, Reglas y Guías</h2>
                    <h3 class="section-subheading text-muted">En esta sección encontrarás información 
					               detallada de las reglas de participación, guías para la construcción 
								   del póster y más.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.title }}" loading="lazy">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
		
		<div class="container">
            <div class="row" >
              <div class="text-center">
               <h2> </h2>
              </div>
                 <div class="col-md-3 col-sm-6">
                    <a  target="_blank">
                        <img src="img/arte/Categoria1.png" class="img-responsive img-centered" alt="Categoría 1" width="200" height="200" loading="lazy">
                    </a>
                 </div>
                 <div class="col-md-3 col-sm-6">
                    <a  target="_blank">
                        <img src="img/arte/Categoria2.png" class="img-responsive img-centered" alt="Categoría 2" width="200" height="200" loading="lazy">
                    </a>
                 </div> 
				 <div class="col-md-3 col-sm-6">
                    <a  target="_blank">
                        <img src="img/arte/Categoria3.png" class="img-responsive img-centered" alt="Categoría 3" width="200" height="200" loading="lazy">
                    </a>
                 </div> 
				 <div class="col-md-3 col-sm-6">
                    <a  target="_blank">
                        <img src="img/arte/Categoria4.png" class="img-responsive img-centered" alt="Categoría 4" width="200" height="200" loading="lazy">
                    </a>
                 </div>
			</div> 
			
			<div style="margin-top: 1.5rem;"></div>
			
	<!--		<div class="row" >
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/tematica1.png" class="img-responsive img-centered" alt="" width="200" height="200">
                    </a>
                 </div>
                 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/tematica2.png" class="img-responsive img-centered" alt="" width="200" height="200">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/tematica3.png" class="img-responsive img-centered" alt="" width="200" height="200">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/tematica4.png" class="img-responsive img-centered" alt="" width="200" height="200">
                    </a>
                 </div>
			</div>  -->

			<div style="margin-top: 1.5rem;"></div>
			
			<div class="row" >
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso1.png" class="img-responsive img-centered" alt="Paso 1" width="200" height="200" loading="lazy">
                    </a>
                 </div>
                 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso2.png" class="img-responsive img-centered" alt="Paso 2" width="200" height="200" loading="lazy">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso3.png" class="img-responsive img-centered" alt="Paso 3" width="200" height="200" loading="lazy">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso4.png" class="img-responsive img-centered" alt="Paso 4" width="200" height="200" loading="lazy">
                    </a>
                 </div>
				 
			</div> 
			<div style="margin-top: 1.5rem;"></div>
			
			<div class="row" >
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso5.png" class="img-responsive img-centered" alt="Paso 5" width="200" height="200" loading="lazy">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso6.png" class="img-responsive img-centered" alt="Paso 6" width="200" height="200" loading="lazy">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso7.png" class="img-responsive img-centered" alt="Paso 7" width="200" height="200" loading="lazy">
                    </a>
                 </div>
				 <div class="col-md-3 col-sm-6">
                    <a target="_blank">
                        <img src="img/arte/paso8.png" class="img-responsive img-centered" alt="Paso 8" width="200" height="200" loading="lazy">
                    </a>
                 </div>
			</div> 
            </div>
    </section>
